include ../mixins/mixins
//- 함수 호출 main-layout에 호출했지만 block content를 이용한다면 main-layout과 연결된 다른 곳에서도 함수를 사용가능

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} 
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/main.css")
    body
        .wrapper
            .row
                nav.col-2
                    a(href="/")
                        i.fa-solid.fa-dove 
                    a(href="/")
                        i.fa-solid.fa-house
                    a(href="/")
                        i.fa-solid.fa-magnifying-glass
                    a(href="/notifications")
                        i.fa-solid.fa-bell
                    a(href="/messages")
                        i.fa-solid.fa-envelope
                    a(href="/profile")
                        i.fa-solid.fa-user
                    a(href="/logout")
                        i.fa-solid.fa-sign-out-alt
                .mainSectionContainer.col-10.col-md-8.col-lg-6
                    .titleContainer
                        h1 #{pageTitle}
                    block content

                .d-none.d-md-block.col-md-2.col-lg-4
                    span third column

        script(src='https://kit.fontawesome.com/bbb2f90f10.js' crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.6.0.min.js', integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js', integrity='sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js', integrity='sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK', crossorigin='anonymous')
        script(src="/js/common.js") 