extends layouts/main-layout.pug

block content
    +createPostForm(userLoggedIn)
    //- '+' 를 이용해 함수를 호출 include...
    .postsContainer

    +createReplyModal(userLoggedIn)

block scripts

    script(src="/js/home.js")